<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <h1 class="display-4">¡Bienvenido a la Veterinaria!</h1>
    <p class="lead">Gestiona fácilmente dueños y sus mascotas.</p>
    <hr class="my-4">
    <p>Utiliza la barra de navegación para explorar las secciones de Dueños y Mascotas</p>
    <a class="btn btn-primary btn-lg" href="/duenos" role="button">Ver Dueños</a>
    <a class="btn btn-success btn-lg ms-2" href="/mascotas" role="button">Ver Mascotas</a>
</div>